{% if paginate.previous or paginate.next %}
  <ul class="pagination">

    <li class="arrow left font--accent{% unless paginate.previous %} unavailable{% endunless %}">
      <a {% if paginate.previous %}href="{{ paginate.previous.url }}"{% endif %}>
        {% render 'framework--icons', icon: 'arrow-left' %}
        {{ 'general.pagination.previous' | t }}
      </a>
    </li>

    {% for part in paginate.parts %}
      {% if part.is_link %}
        <li class="font--accent paginate--number">
          <a href="{{ part.url }}">{{ part.title }}</a>
        </li>
      {% else %}
        {% if part.title == '&hellip;' %}
          <li class="font--accent paginate--number unavailable">
            <a href="">&hellip;</a>
          </li>
        {% else %}
          <li class="font--accent paginate--number current">
            <a href="">{{ part.title }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}

    <li class="arrow right font--accent{% unless paginate.next %} unavailable{% endunless %}">
      <a {% if paginate.next %}href="{{ paginate.next.url }}"{% endif %}>
        {{ 'general.pagination.next' | t }}
        {% render 'framework--icons', icon: 'arrow-right' %}
      </a>
    </li>

  </ul>
{% endif %}