{% comment %} Translations {% endcomment %}
{% assign title_t = 'home.onboarding.product_title' | t %}
{% assign vendor_t = 'home.onboarding.vendor' | t %}
{% assign price_t = 'home.onboarding.price' | t %}
{% assign sold_out_t = 'products.sold_out.product' | t %}
{% assign sold_out_variant_t = 'products.sold_out.variant' | t %}
{% assign unavailable_variant_t = 'products.unavailable_variant' | t %}
{% assign product_media_t = 'products.product_media' | t %}
{% assign color_t = 'products.color' | t %}

{% comment %} Variables {% endcomment %}
{% assign heading = section.settings.heading %}
{% assign product = all_products[section.settings.featured_product] %}
{% assign product_url = product.url %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% assign link = product.url %}
{% assign title = product.title %}
{% assign vendor = product.vendor %}
{% assign vendor_url = product.vendor | url_for_vendor %}
{% assign show_vendor = section.settings.show_vendor %}

{% assign featured_media = current_variant.featured_media | default: product.featured_media %}
{% assign loop_enabled = section.settings.loop_enabled %}
{% assign youtube_exists = false %}

{% assign variant_style = section.settings.variant-style %}
{% assign swatches_enabled = section.settings.swatches-enabled %}

{% assign actual_price = current_variant.price | money %}
{% assign compare_price = '' %}
{% capture compare_price %}
  {% if current_variant.price < current_variant.compare_at_price %}
    {{ price_was_t }} {{ current_variant.compare_at_price | money }}
  {% endif %}
{% endcapture %}

{% capture media_focus_trigger_opening %}
  <div
    class="a11y--focus-trigger"
    data-back-to=".featured-product--thumb[data-active='true']"
  ></div>
{% endcapture %}

{% capture media_focus_trigger_closing %}
  <div
    class="a11y--focus-trigger"
    data-forward-to=".featured-product--thumb[data-active='true']"
    data-back-to=".a11y--focus-trigger[data-position='section-start']"
  ></div>
{% endcapture %}

{% capture thumbnail_images %}
  {% for media in product.media %}
    {% assign active_media = false %}
    {% if media == featured_media %}
      {% assign active_media = true %}
    {% endif %}
    <div class="featured-product--thumb-container">
      <div
        class="featured-product--thumb"
        data-active="{{ active_media }}"
        data-id="{{ media.id }}"
        tabindex="0"
      >
        {%
          render 'framework--image',
          image: media.preview_image,
          widths: '90, 180'
        %}
      </div>

      {% if media.media_type == "model" %}
        {% render 'framework--icons', icon: '3d-badge' %}
      {% elsif media.media_type == "video" %}
        {% render 'framework--icons', icon: 'play-badge' %}
      {% elsif media.media_type == "external_video" %}
        {% render 'framework--icons', icon: 'play-badge' %}
      {% endif %}
    </div>
  {% endfor %}
{% endcapture %}

{% comment %} Onboarding {% endcomment %}
{% assign onboarding = true %}
{% if section.settings.featured_product != blank %}
  {% assign onboarding = false %}
{% endif %}

{% if onboarding %}
  {% assign title = title_t %}
  {% assign vendor = vendor_t %}
  {% assign actual_price = price_t %}
  {% capture image %}
    {%
      render "framework--placeholder",
      type: "product",
      aspect_ratio: 0.75,
      placeholder_index: 1
    %}
  {% endcapture %}
{% endif %}

{% comment %} View {% endcomment %}
<div
  class="featured-product--root"
  style="{% render 'framework--background-colors', bg_color: section.settings.background-color %}"
  data-js-class="FeaturedProduct"
  data-section-id="{{ section.id }}"
  data-onboarding="{{ onboarding }}"
>
  <div
    class="a11y--focus-trigger"
    data-position="section-start"
    data-forward-to=".featured-product--info"
  >
  </div>
  <div class="featured-product--container">
    {% if heading != blank %}
      <div class="featured-product--header">
        <h2 class="featured-product--heading font--section-heading">
          <a href="{{ product_url }}">{{ heading }}</a>
        </h2>
      </div>
    {% endif %}

    <div class="featured-product--body">
      {% if onboarding %}
        <div class="featured-product--media" data-active="true">{{ image }}</div>
      {% else %}

        {% for media in product.media %}
          {% assign active = false %}
          {% if media.id == featured_media.id %}
            {% assign active = true %}
          {% endif %}

          <div
            class="featured-product--media"
            data-id="{{ media.id }}"
            data-active="{{ active }}"
            data-media-type="{{ media.media_type }}"
          >
            {% case media.media_type %}
              {% when "image" %}
                <a href="{{ product_url }}" aria-label="{{ product_media_t }}">
                  {%
                    render 'framework--image',
                    image: media,
                    max_height: 600
                  %}
                </a>

              {% when "video" %}
                {{ media_focus_trigger_opening }}
                <div
                  class="product-video--root"
                  tabindex="0"
                  data-js-class="ProductVideo"
                  data-loop-enabled="{{ section.settings.loop--enabled }}"
                  data-type="plyr"
                >
                  <div
                    class="product-video--container"
                    style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;"
                  >
                    {{ media | video_tag: image_size: "1024x" }}
                  </div>
                </div>
                {{ media_focus_trigger_closing }}

              {% when "external_video" %}
                {% assign youtube_exists = true %}
                {{ media_focus_trigger_opening }}
                <div
                  class="product-video--root"
                  tabindex="0"
                  data-js-class="ProductVideo"
                  data-loop-enabled="{{ section.settings.loop--enabled }}"
                  data-type="youtube"
                  data-video-id="{{ media.external_id }}"
                >
                  <div
                    class="product-video--container"
                    style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;"
                  >
                    <div class="product-video" id="{{ media.id }}"></div>
                  </div>
                </div>
                {{ media_focus_trigger_closing }}

              {% when "model" %}
                {{ media_focus_trigger_opening }}
                <div
                  class="product-model--root"
                  tabindex="0"
                  data-js-class="ProductModel"
                  style="padding-top:
                    {{- 1 | divided_by: media.preview_image.aspect_ratio | times: 100 -}}%;"
                >
                  {{
                    media | model_viewer_tag: reveal: 'interaction',
                    toggleable: true,
                    image_size: "1024x"
                  }}
                </div>
                {{ media_focus_trigger_closing }}

              {% else %}
                {{ media | media_tag }}

            {% endcase %}

          </div>

        {% endfor %}
      {% endif %}

      <div class="featured-product--info">
        <div class="featured-product--info--container">

          <h2 class="font--section-header">
            <a href="{{ product_url }}">{{ title }}</a>
          </h2>

          {% if show_vendor %}
            <div class="featured-product--vendor font--accent">
              <a href="{{ vendor_url }}">{{ vendor }}</a>
            </div>
          {% endif %}

          <div class="featured-product--sold-out--variant font--light-accent">
            {{ sold_out_variant_t }}
          </div>
          <div class="featured-product--unavailable-variant font--light-accent">
            {{ unavailable_variant_t }}
          </div>

          {% if product.available == false %}
            <div class="featured-product--sold-out--product font--light-accent">
              {{ sold_out_t }}
            </div>
          {% endif %}

          <div class="featured-product--price-wrapper">
            <span class="featured-product--actual-price money font--accent">
              {{- actual_price -}}
            </span>
            &nbsp;
            <span class="featured-product--compare-price money font--light-accent">
              {{- compare_price -}}
            </span>
          </div>

          {% if onboarding %}
            <div class="featured-product--add-to-cart">
              <div class="font--button">
                {{ 'products.add_to_cart' | t }}
              </div>
            </div>
          {% else %}
            <div class="featured-product--cart-form">
              {% form 'product', product %}

                <div class="featured-product--variants">
                  {% unless product.has_only_default_variant %}

                    {% for option in product.options_with_values %}
                      {% assign option_name = option.name | trim | downcase %}

                      {% if swatches_enabled and option_name == color_t %}
                        {%
                          render 'framework--radios',
                          option: option,
                          id: product.id,
                          is_swatches: true
                        %}
                      {% elsif variant_style == 'dropdowns' %}
                        {%
                          render 'framework--disclosure',
                          display_label: true
                          label_name: option_name,
                          option_names: option.values,
                          current_value: option.selected_value,
                          id: product.id
                        %}
                      {% else %}
                        {%
                          render 'framework--radios',
                          option: option,
                          id: product.id
                        %}
                      {% endif %}

                    {% endfor %}

                  {% endunless %}

                  <select class="featured-product--variant-select" name="id">
                    {% for variant in product.variants %}
                      <option
                        value="{{ variant.id }}"
                        data-sku="{{ variant.sku }}"
                        {% if variant == current_variant %}
                          selected
                        {% endif%}
                      >
                        {{ variant.title }}
                      </option>
                    {% endfor %}
                  </select>

                </div>

                {% assign cart_button_class = 'font--button' %}
                {% if section.settings.smart_payment_button %}
                  {% assign cart_button_class = 'font--secondary-button' %}
                {% endif %}

                <button
                  class="featured-product--add-to-cart {{ cart_button_class }}"
                  type="submit"
                  name="add"
                >
                  <span class="text">{{ 'products.add_to_cart' | t }}</span>
                  <span
                    class="fw--loading_animation tiny"
                    data-js-class="FrameworkLoadingAnimation"
                  ></span>
                </button>

                {% if section.settings.smart_payment_button %}
                  <div class="featured-product--smart-payment-buttons">
                    {{ form | payment_button }}
                  </div>
                {% endif %}
              {% endform %}
            </div>

            {% if product.media.size > 1 %}
              <div class="featured-product--thumbs-container">
                {{ thumbnail_images }}
              </div>
            {% endif %}

          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="featured-product--json" aria-hidden="true">
    {{ product | json }}
  </div>

</div>

{% if youtube_exists %}
  <script>
    // YouTube callback
    function onYouTubeIframeAPIReady() {
      $(function() {
        $(window).trigger('theme.utils.youtubeAPIReady');
      });
    }
  </script>
{% endif %}

{% schema %}
  {
    "name": "Featured product",
    "settings": [
      {
        "id": "background-color",
        "label": "Background color",
        "type": "select",
        "options": [
          { "label": "None", "value": "none" },
          { "label": "Light grey", "value": "light" },
          { "label": "Accent", "value": "accent" }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "smart_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "id": "heading",
        "label": "Heading",
        "type": "text"
      },
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
      {
        "id": "show_vendor",
        "label": "Show vendor",
        "type": "checkbox",
        "default": false
      },
      {
        "type": "select",
        "id": "variant-style",
        "label": "Product variant style",
        "options": [
          { "label": "Dropdowns", "value": "dropdowns" },
          { "label": "Buttons", "value": "buttons" }
        ],
        "default": "dropdowns"
      },
      {
        "type": "checkbox",
        "id": "swatches-enabled",
        "label": "Enable color swatches",
        "default": false,
        "info": "Automatically turn color options into swatches. [Learn more](https://support.troopthemes.com/guide/color-swatch-guide)"
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)."
      },
      {
        "type": "checkbox",
        "id": "loop_enabled",
        "label": "Enable video looping",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product"
      }
    ]
  }
{% endschema %}